<link href="notification/notification.css" rel="stylesheet" type="text/css"/>

<div class="inner cover">
    <h1 class="cover-heading">Coming Summer 2014.</h1>
    <p class="lead">Sharing your food is about to become much more fun.</p>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input id="email" type="email" class="form-control" placeholder="Enter email" ng-model="notification.email" required>
        </div>
        <button id="subscribe" class="btn btn-primary" ng-hide="subscribed" ng-disabled="subscribed" ng-click="subscribe()">Notify Me!</button>
        <button id="unsubscribe" class="btn btn-link" ng-hide="!subscribed" ng-disabled="!subscribed" ng-click="unsubscribe()">Unsubscribe Me</button>
        
        <div class="help-block">{{message}}</div>
    </form>
</div>